<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="main-header">
    <h1>🦂 SATYAM NEGI</h1>
    <p>CREATE ACCOUNT</p>
</div>

<form method="post">
    <input name="username" placeholder="Choose Username" required>
    <input name="password" type="password" placeholder="Choose Password" required>
    <input name="confirm" type="password" placeholder="Confirm Password" required>
    <button type="submit">CREATE ACCOUNT</button>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="error-box">
      {% for msg in messages %}
        <p>{{ msg }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>

</body>
</html>
